body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #8edee2;
  color: #fff;
}

label {
  color: #fff;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

input {
	color: #000;
}

.navbar {
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
}

.navbar-default{
 border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}